dotfiles.log

apps/atom.symlink/.apm
apps/atom.symlink/.node-gyp
apps/atom.symlink/.storage
apps/atom.symlink/blob-store
apps/atom.symlink/compile-cache/
apps/atom.symlink/nohup.out
apps/atom.symlink/packages
apps/atom.symlink/storage
apps/atom.symlink/themes

apps/config/nvim/plugged

apps/vim.symlink/bundle

apps/git/gitconfig.local.symlink
apps/git/gitconfig.symlink

apps/modules/base16-shell
apps/modules/Hack
apps/modules/pure
apps/modules/zsh-syntax-highlighting

apps/zsh/zfunctions/prompt/async
apps/zsh/zfunctions/prompt/prompt_pure_setup
